@import './reset.css';

@font-face {
  font-family: 'Delius';
  src: url('../fonts/Delius_Swash_Caps/DeliusSwashCaps-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/Fira_Sans/FiraSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/Fira_Sans/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/Fira_Sans/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  /* Custom palette */
  /* Light Purple */
  --color-primary: #d4c9f2;
  /* White */ 
  --color-secondary: #ffffff;
  /* Purple */
  --color-tertiary: #3a1646;

  /* Custom fonts */
  --fontface-emphasized: 'Delius';
  --fontface-default: 'FiraSans';

  /* Spacing rhythms */
  --spacing-1px: 1px;
  --spacing-2px: 2px;
  --spacing-2xs: .25rem;
  --spacing-xs: .5rem;
  --spacing-sm: .75rem;
  --spacing-base: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2.5rem;

  /* Gap size rhythms */
  --gap-sm: 1.5rem;
  --gap-base: 2.5rem;
  --gap-lg: 4rem;
  --gap-xl: 6.25rem;

  /* Button minimum sizing */
  --button-height-base: 44px;
  --button-width-base: 44px;

  /* Font size rhythms
   * Corresponds to 18, 20, 30, 36, 40 px based on 16px browser setting
  */
  --text-base: 1.125rem;
  --text-md: 1.25rem;
  --text-lg: 1.875rem;
  --text-xl: 2.25rem;
  --text-2xl: 2.5rem;

  /* Borders */
  --border-size-sm: 2px;
  --border-size-base: 3px;

  /* Custom breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop-sm: 1020px;
  --breakpoint-desktop: 1200px;
}

/* Focus outlines */
:focus {
  outline: var(--border-size-sm) solid var(--color-primary);
  outline-offset: calc(var(--border-size-sm) * 2);
}

/* Dev Utils */
.devBorder {
  border: 2px solid magenta;
}

/* Utilities */
.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-link:focus {
  position: static;
  display: block;
  width: fit-content;
  height: auto;
  padding: 10px;
  margin: var(--spacing-base) auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  transition: margin-top .25s;
}

/* Typography */
body {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-family: var(--fontface-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: var(--fontface-emphasized);
}

h1 {
  margin-bottom: 1.5rem;
  color: var(--color-secondary);
  font-size: var(--text-2xl);
}

h2 {
  font-size: var(--text-xl);
  margin-bottom: 1rem;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

a {
  font-family: var(--fontface-emphasized);
  color: var(--color-secondary);
  text-decoration: none;
  border-bottom: var(--border-size-base) solid var(--color-primary);
}

a:hover {
  border-bottom: unset;
}

a:visited {
  color: var(--color-primary);
}

strong {
  font-family: var(--fontface-emphasized);
}

button {
  background-color: unset;
  border: none;
}

/* Layout */

.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  padding: var(--gap-sm);
  max-width: var(--breakpoint-desktop);
  margin: auto;
}

/* Prevent  scrolling when dialog is open */
body:has(dialog[open]) {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

header {
  margin-bottom: var(--gap-base);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  padding-bottom: var(--gap-sm);
}

.footer-icon {
  color: var(--color-primary);
}
