@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example styling, feel free to delete */
/* For more about layers, see https://tailwindcss.com/docs/functions-and-directives */

@layer base {

  a {
    @apply underline text-blue-600 md:text-purple-600;
  }

}

:root {
  /* Custom palette */
  /* Deep purple */
  --color-primary: #664d7d;
  /* Dark green */
  --color-secondary: #295520;
  /* Light purple */
  --color-tertiary: #d6d1f9;
  /* Yellow */
  --color-accent: #e9d738;
  /* White */
  --color-accent-dark: #ffffff;
  /* Orangey pink */
  --color-warning: #ffa66a;

  /* Gap size rhythms */
  --gap-sm: 1.5rem;
  --gap-base: 2.5rem;
  --gap-lg: 4rem;
  --gap-xl: 6.25rem;

  /* Button minimum sizing */
  --button-height-base: 44px;
  --button-width-base: 44px;

  /* Font size rhythms
   * Corresponds to 18, 20, 30, 36, 40 px based on 16px browser setting
  */
  --text-base: 1.125rem;
  --text-md: 1.25rem;
  --text-lg: 1.875rem;
  --text-xl: 2.25rem;
  --text-2xl: 2.5rem;

  /* Borders */
  --border-size-base: 3px;

  /* Custom breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop-sm: 1020px;
  --breakpoint-desktop: 1200px;
}

/* Dev Utils */
.devBorder {
  border: 2px solid magenta;
}

/* Utilities */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Typography */
body {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

h1 {
  font-size: var(--text-2xl);
}

h1 {
  margin-bottom: 1.5rem;
}

.basicpage h1 {
  color: var(--color-secondary);
}

h2 {
  margin-bottom: 1rem;
}

.basicpage h2 {
  font-size: var(--text-2xl);
}

.project h2 {
  font-size: var(--text-lg);
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  border-bottom: var(--border-size-base) solid var(--color-primary);
}

a:hover {
  border-bottom: unset;
}

a:visited {
  color: var(--color-primary);
}

button {
  background-color: unset;
  border: none;
}

/* Layout */

.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  padding: var(--gap-sm);
  max-width: var(--breakpoint-desktop);
  margin: auto;
}

/* Prevent  scrolling when dialog is open */
body:has(dialog[open]) {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

header {
  margin-bottom: var(--gap-base);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  padding-bottom: var(--gap-sm);
}

.footer-icon {
  color: var(--color-primary);
}
